@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
   margin:0; 
   padding:0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
body{
    height:100vh;
    width:100%;
    overflow: hidden;
    background: linear-gradient(to bottom,#3b3aaa 0%,#499debeb 100%);
}
.wrapper{
    margin:120px auto;
    max-width:350px;
    width:100%;
    background-color:#fffff8;
    border-radius:5px;
    padding:25px;
    box-shadow: black 0px 0px 80px;
}
.wrapper header{
   font-size: 30px;
   font-weight: 700;
}
.wrapper .inputField{

    display:flex;
    height:40px;
    width:100%;
     

}
.inputField input{
    width:85%;
    height:100%;
    border: 1px solid #ccc;
    padding-left: 15px;
    border-radius: 3px;
    font-size: 16px;
  
}

.inputField button{
    width:60px;
    height:100%;
    background: #864bbd;
    color:white;
    border: none;
    outline:none;
    cursor: pointer;
    border-radius: 4px;
    margin-left:4px;
    opacity:0.6;
    pointer-events:none;
}
.inputField button.active{
    opacity:1;
    pointer-events:auto;
}

.to-dolist{
    max-height: 250px;
    overflow-y: auto;

}

.to-dolist li{
    
    height:45px;
    line-height: 45px;
    position:relative;
    background:#f2f2f2;
    margin-bottom:8px;
    padding:0 16px;   
    margin-top:9px; 
    border-radius: 8px;
    font-size: 16px;
   overflow: hidden;
   list-style: none;
}
.to-dolist li span{
   position: absolute;
   right:-45px;
   width:45px;
   background:red;
   text-align: center;
   color:white;
   border-radius: 0 3px 3px 0;
   cursor: pointer;
   transition: all 0.5s 0s ease;
}
li:hover span{
    right:0px;
}


.wrapper .footer{
    display:flex;
    width:100%;
    margin-top: 20px;
    justify-content: space-between;
    align-items:center;
}

.footer button{
    border:none;
    outline:none;
    background: #864bbd;
    color: #ffffff;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
   
}